$pxm: calc(100 / 414);
$px: calc(100 / 1440);

$font-family-title: "e-Ukraine Head", "e-Ukraine", "Arial", sans-seriv;
$font-family-text: "e-Ukraine", "Arial", sans-seriv;

$mobile-width: 768px;
$desktop-width: 1440px;
